
 *{
    box-sizing: border-box;
  }

.jumbotron{
  text-align: center;
  background-color:rgb(56, 55, 55);
  color: white; 
  padding: 18px ;
  margin: 0px 0px 15px;
}
 
.justify-space-around {
    justify-content: space-between;
  }

  .card {
    padding: 30px 20px ;
  }

 .currentStyle{
   font-size: 30px;   
   font-weight: bold;
 }
 .input{
   width: 40px;
 }
  .style p{
    font-size: 15px;
    text-align:justify;
  }
  .style{
    border-radius: 5px;
  }
  
 