
 *{
    box-sizing: border-box;
  }

.jumbotron{
  text-align: center;
  background-color:rgb(56, 55, 55);
  color: white; 
  padding: 18px ;
  margin: 0px 0px 15px;
}
 
.justify-space-around {
    justify-content: space-between;
  }

  /* display style for current weather day (temperature,humidy,speed wind and UV )*/
  .card {
    padding: 30px 20px ;
  }
  .card p {
  font-size:25px ;
  }
 /* display style for current weather day (name city,date )*/
 .currentStyle{
   font-size: 30px;   
   font-weight: bold;
 }
 
 .currentStyle P{
   font-size: 25px;
 }

 .input{
   width: 40px;
 }
 /* display style for 5 day forecast (temp and humidity )*/
  .forecast p{
    font-size: 22px;
    text-align:center;
  }
  .forecast{
    border-radius: 5px;
    
  }
  
 